.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
script.R
TODO.txt
.#test-ptLasso.R
docs
/doc/
/Meta/

vignettes/*.html
vignettes/*.pdf
vignettes/*.tex
vignettes/*.log
vignettes/*.out
vignettes/*.aux
vignettes/*.bbl
vignettes/*.blg
